@media (min-width: 577px) and (max-width: 992px) {
	.text {
		margin-bottom: 1.5em;
	}

	.nav {
		&-desktop {
			display: none;
		}
	}
    
	.movingImg {
        h1 {
            margin-top: 4em;
		}
		&__arrows {
            top: 30em;
		}
        
		&__two {
            top: 18em;
		}
	}
    
    .about {
        margin: 40em 0 0 0;
        width: 100%;
    }

	.contact {
		margin: 0;
		text-align: center;
	}
}
