@media (max-width: 576px) {
	.text {
		margin-left: 1em;
	}
	.nav {
		&-desktop {
			display: none;
		}
	}
	.about {
		margin: 21em 0 0 0;
		padding: 3em;
		width: 100%;
	}

	.movingImg {
		h1 {
			margin-top: 4em;
		}
		&__arrows {
			top: 15em;
		}

		&__one {
			top: 2em;
			left: 2em;
		}

		&__two {
			grid-row: 3/3;
			grid-column: 1/-1;
			right: 2em;
		}
	}

	h3 {
		font-size: 2em;
	}

	.heading {
		font-size: 2em;
	}

	.cards {
		position: relative;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		padding: 3em 3em;
		.text-about {
			padding-bottom: 0.2em;
		}
		.text-about__special {
			padding-top: 7em;
		}

		&__card {
			padding: 0;
			&--two {
				grid-column: 1/1;
				grid-row: 2/3;
			}
			&--four {
				display: none;
			}

			&--six {
				display: none;
			}
		}
	}

	.contact {
		margin: 0;
		text-align: center;
	}
}
